* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color:  #f4f4f4;
    line-height: 1.6;
}

main{

    max-width:1200px;
    margin:1.5rem auto;
    padding:1.5rem;
}

main h2{
    text-align:center;
    margin-bottom: 2rem;
    font-size:2.5rem;

}

/* STILI DELLA CARD PRODOTTO (MOBILE) */

.product-card{

    background-color:#ffffff;
    border-radius: 0.9rem;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    overflow:hidden;

    margin-bottom:1.2rem;

    transition: transform 0.5s ease, box-shadow 0.3 ease;

}

.product-card:hover{
    transform:translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img{
    width:100%;
    height: auto;
    display:block;

}

.card-content{
    padding:1.2rem;
}

.product-title{
    font-size:1.5rem;
    margin-bottom:0.9rem;
}

.product-price{
    font-size:1.5rem;
    font-weight:bold;
    color: #333;
    margin-bottom: 1.2rem;
}

.product-button{
    display:block;
    width:100%;
    padding:0.7rem;
    border-radius:0.5rem;
    border:none;
    background-color:  #007bff;
    color:white;
    font-weight:bold;
    font-size:1rem;
    text-align:center;
    cursor:pointer;
    transition: background-color 0.3 ease;
}

.product-button:hover{
    background-color:#0056b3;
}


/*Layout desktop*/
@media(min-width: 768px){
    .product-grid{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:1.5rem;
    }

    .product-card{
        margin-bottom:0;
    }
}


/* layout tablet */
@media (min-width: 500px) and (max-width: 767px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .product-card {
        margin-bottom: 0;
    }
}